.wrapper {
    margin: 1rem 0;
    padding: 3.6rem 2rem;
    display: flex;
    flex-direction: column;
    border: 2px solid #17171a;;
    border-radius: 0.75rem;
}

.h2 {
    font-size: 1rem;
}

.client_wrapper {
    display: flex;
}

.button {
    width: 10rem;
    padding: 1em 2em;
    margin: 0.2rem 0.8rem;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

.button:hover {
    color: #e8e8e8;
}

.button:hover::before {
    width: 100%;
}

.button:active{
    transform: scale(0.95);
    transition-duration: 0.3s;
}

.count_txt {
    font-size: 0.8rem;
}

.count {
    font-size: 0.8rem;
    font-weight: bold;
}