.mainblock {
    width: 55%;
    min-height: 90vh;
    max-height: 90vh;
    margin: 1rem 0;
    padding: 1rem 2rem;
    border: 2px solid #17171a;;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading {
    width: 100%;
    min-height: 81vh;
    max-height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news_wrapper {
    min-height: 81vh;
    max-height: 81vh;
    overflow-y: scroll;
}

.news_wrapper::-webkit-scrollbar {
    width: 0.4rem;
}

.news_wrapper::-webkit-scrollbar-thumb {
    background: #141318;;
    border-radius: 1.5rem;

}

.news_wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 1.5rem;
}

.error_block {
    min-height: 81vh;
    max-height: 81vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no_data  {
    color: #F23D3D;
}
