.header {
    width: 100%;
    padding: 2% 0%;
    min-height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link {
    padding: 1rem 4rem;
    background: aqua;
    color: red;
    border-radius: 0.5rem;
}