/*:root {*/
/*  --primary-color: #191919;*/
/*  --primary: #408CF9;*/
/*  --white: #FFFFFF;*/
/*  --sidebar-primary-hover: #2B2B2F;*/
/*  --sidebar-background: #141318;*/
/*  --background: #F3F5F6;*/
/*  --text-link: #FFFFFF;*/
/*  --expand-button: #408CF9;*/
/*  --logout: #FA7575;*/
/*  --search-background: #2B2B2F;*/
/*}*/



/*html {*/
/*  height: 100%;*/
/*}*/

/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/

.aside {
  height: 100%;
  max-height: 100vh;
}

.sidebar {
  float: left;
  position: sticky;
  top: 0;
  left: 0;
  min-height: 50rem;
  height: 100%;
  padding: 1.5rem 1rem;
  border-radius: 1.5rem;
  user-select: none;
  max-width: 21rem;
  min-width: 4rem;
  display: flex;
  color: #FFFFFF;
  flex-direction: column;
  background-color: #141318;
  transition: max-width 0.2s ease-in-out;
}

.collapsed .sidebar {
  max-width: 5rem;
  display: flex;
}

.collapsed .hide {
  position: absolute;
  visibility: hidden;
}

/*? search wrapper */
.search__wrapper {
  position: relative;
}

.search__wrapper input {
  background-color: #2B2B2F;
  min-height: 3rem;
  width: 100%;
  color: #FFFFFF;
  border-radius: 0.75rem;
  padding-left: 2.75rem;
  font-size: 1.4rem;
  border: none;
}

.search__wrapper svg {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  stroke: #FFFFFF;
  transform: translateY(-50%);
  pointer-events: none;
}

/*? sidebar top */
.sidebar_top_wrapper {
  display: flex;
}



/*.company_name {*/
/*  white-space: nowrap;*/
/*}*/

/*? menu links */
.sidebar_links {
  margin-top: 1rem;
}

.sidebar_links ul {
  list-style-type: none;
  position: relative;
  display: flex;
  row-gap: 0.5rem;
  flex-direction: column;
}

.sidebar_links li {
  min-width: 3rem;
}

.sidebar_links li a:hover {
  background-color: #2B2B2F;
}

.sidebar_links li a {
  color: #FFFFFF;
  width: 100%;
  padding-left: 0.6rem;
  font-size: 1.25rem;
  display: flex;
  gap: 0.75rem;
  border-radius: 0.75rem;
  justify-content: start;
  align-items: center;
  min-height: 3.25rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.link {
  overflow: hidden;
  white-space: nowrap;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    width: 4rem;
    opacity: 0;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}

.sidebar_links .active:hover {
  background-color: #2B2B2F;
}

.active {
  text-decoration: none;
  background-color: #2B2B2F;
  color: #FFFFFF;
}

/* ?tooltip */
.tooltip {
  position: relative;
}

.tooltip .tooltip__content::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: -9px;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #191919 transparent transparent;
}

.tooltip .tooltip__content {
  visibility: hidden;
  background-color: #191919;
  color: #FFFFFF;
  text-align: center;
  border-radius: 6px;
  padding: 0.35rem 0.75rem;
  position: absolute;
  z-index: 1;
  left: 4.5rem;
}

.collapsed .tooltip:hover .tooltip__content {
  visibility: visible;
}

.collapsed .tooltip:focus .tooltip__content {
  visibility: visible;
}

/*? profile part */


/*? Expand button */

