.expand_btn {
    position: absolute;
    display: grid;
    place-items: center;
    cursor: pointer;
    background-color: #408CF9;
    z-index: 2;
    right: -1rem;
    width: 2.25rem;
    height: 2.25rem;
    border: none;
    border-radius: 50%;
    transform: rotate(-180deg);
}

.rotate {
    transform: rotate(-360deg);
}